.banner {
  position: relative;
  background: url(file:///Users/shahirali/Downloads/pexels-karolina-grabowska-5624989.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
